<div class="containers">
    <div>
        <input placeholder="Yapılacak işi tanımlayınız..." [(ngModel)]="toDoRequest.title" type="text">
        <button (click)="createToDo()">Ekle</button>
        <input placeholder="id ile arama yapınız..." [(ngModel)]="searchId" type="number"
            (input)="fetchTodos(searchId)">
    </div>
</div>
<div class="row align-items-center justify-content-center">
    @for(todo of toDoListFromBackend; track todo; let i = $index) {
    <div class="col-2">
        <app-todo-card [toDoFromOtherPage]="todo.title" [toDoId]="todo.id" (onRemoveClick)="removeTodo($event)" />
    </div>

    } @empty {
    <p class="col-2">Henüz bir todo eklemediniz.</p>
    }
</div>