<div class="container">
    <div>
        <input placeholder="Yapılacak işi tanımlayınız..." [(ngModel)]="input" type="text">
        <button (click)="handleSubmit()">Ekle</button>
    </div>

    <div>
        <ul>
            @for (todo of todoList; track todo ; let i = $index) {
            <li>{{i + 1}}.{{todo}}
                <button (click)="removeTodo(i)">X</button>
            </li>
            } @empty {
            <li>Herhangi bir iş yok.</li>
            }
        </ul>

    </div>

</div>